{% extends "admin/base_site.html" %}
{% block content %}

    <h2 class="content-title">实名认证审核</h2>

    <div id="content-main" class="inner-two-columns">

        <form enctype="multipart/form-data" action="" method="post" id="telecomrealname_form" class="form-horizontal"
              novalidate="">
            <div class="inner-center-column">

                <div class="tab-content tab-content-main">


                    <fieldset class="module aligned first ">


                        <div class="control-group form-row field-id ">

                            <div>
                                <div class="control-label"><label>ID:</label></div>
                                <div class="controls"><span class="readonly">{{ exam_info.id }}</span></div>
                            </div>


                        </div>


                        <div class="control-group form-row field-user ">

                            <div>
                                <div class="control-label"><label>昵称:</label></div>
                                <div class="controls"><span class="readonly">{{ exam_info.user.nickname }}</span></div>
                            </div>


                        </div>


                        <div class="control-group form-row field-real_name ">

                            <div>
                                <div class="control-label"><label>手机号:</label></div>
                                <div class="controls"><span class="readonly">{{ exam_info.user.phone }}</span></div>
                            </div>


                        </div>

                        <div class="control-group form-row field-mobile ">

                            <div>
                                <div class="control-label"><label>真实姓名:</label></div>
                                <div class="controls"><span class="readonly">{{ exam_info.real_name }}</span></div>
                            </div>

                        </div>
                        <div class="control-group form-row field-id_card ">

                            <div>
                                <div class="control-label"><label>身份证号:</label></div>
                                <div class="controls"><span class="readonly">{{ exam_info.id_card }}</span></div>
                            </div>
                        </div>
                        <div class="control-group form-row field-id_card ">

                            <div>
                                <div class="control-label"><label>身份证正面照:</label></div>
                                <div class="controls"><span class="readonly">
                                <img src="{{ MEDIA_URL }}{{ exam_info.pros_id_card_img }}" alt="身份证正面照"
                                     class="img-thumbnail">
                                </span></div>
                            </div>
                        </div>
                        <div class="control-group form-row field-id_card ">

                            <div>
                                <div class="control-label"><label>身份证反面照:</label></div>
                                <div class="controls"><span class="readonly">
                                    <img src="{{ MEDIA_URL }}{{ exam_info.cons_id_card_img }}" alt="身份证反面照"
                                         class="img-thumbnail">
                                </span></div>
                            </div>
                        </div>

                        <div class="control-group form-row field-date ">

                            <div>
                                <div class="control-label"><label>提交时间:</label></div>
                                <div class="controls"><span
                                        class="readonly">{{ exam_info.date | date:'Y-m-d H:i:s' }}</span></div>
                            </div>

                        </div>
                        <div class="box save-box">

                            <div class="submit-row clearfix">
                                {% if exam_info.is_exam %}
                                    {% if exam_info.is_adopt %}
                                        已通过
                                    {% else %}
                                        未通过,理由:{{ exam_info.dis_adopt_text }}
                                    {% endif %}
                                {% else %}
                                    <button id="adopt" data-id="{{ exam_info.id }}" data-uid="{{ exam_info.user.id }}"
                                            type="button"
                                            class="btn btn-high btn-info" name="_save">通过
                                    </button>
                                    <button id="unadopt" data-id="{{ exam_info.id }}" data-uid="{{ exam_info.user.id }}"
                                            type="button"
                                            class="btn btn-high btn-info" name="_save">不通过
                                    </button>

                                {% endif %}
                            </div>

                        </div>
                    </fieldset>

                </div>
                <script type="text/javascript">
                    $(function () {
                        var examUser = function (isAdopt, id, uid, unAdoptText) {
                            $.post('/gz/examination/real_name/exam/', {
                                isAdopt: isAdopt,
                                id: id,
                                uid: uid,
                                unAdoptText: unAdoptText
                            }, function (res) {
                                if (res.code === 0) {
                                    alert("操作成功");
                                    window.location.href = "/gz/examination/real_name/"
                                } else {
                                    alert(res.msg)
                                }
                            })
                        };
                        $("#adopt").click(function () {
                            examUser(0, $(this).data("id"), $(this).data("uid"))
                        });
                        $("#unadopt").click(function () {
                            var unAdoptText = window.prompt("请输入不通过理由", "身份证照片和信息不匹配");
                            if(unAdoptText){
                                examUser(1, $(this).data("id"), $(this).data("uid"), unAdoptText)
                            }

                        });
                    })
                </script>


            </div>
        </form>
    </div>

{% endblock %}