{% extends 'record/layout.html' %}
{% load static %}
{% block content %}
    <div class="col-lg-9 col-md-9 col-sm-9 recharge">
        <!--财务中心导航-->
        <div class="fnNav">
            <ul class="list-unstyled">
                <li>
                    <a class="recharge active" href="/record/financial_information/recharge/">
                        <span>充值</span>
                    </a>
                </li>
                <li>
                    <a class="rechargeRecord" href="/record/financial_information/recharge_record/">
                        <span>充值记录</span>
                    </a>
                </li>
                <!--<li>
                    <a class="invoice" href="accInvoiceControlV.do">
                        <span>开具发票</span>
                    </a>
                </li>
                <li>
                    <a class="invoiceRecord" href="accInvoiceRecordV.do">
                        <span>发票管理</span>
                    </a>
                </li>-->
            </ul>
        </div>
        <div class="container-fluid content">
            <p class="title-block">立即充值</p>
            <ul class="list-unstyled explain">
                <li class="title">充值说明：</li>
                <li>1、我们提供在线充值服务（支付宝、微信）</li>
                <li>2、请尽量保障账户余额大于保底额度（100元），避免因余额不足造成业务中断</li>
                <li>3、1元=2积分</li>
            </ul>
        </div>
        <div class="m-progress clearfix">
            <ul class="list-unstyled">
                <li class="pull-left active"><a><i>1</i><span>输入金额</span></a><img src="{% static 'img/icon_arr.png' %}"
                                                                                  class="img-responsive"></li>
                <li class="pull-left"><a><i>2</i><span>选择付款方式</span><img src="{% static 'img/icon_arr.png' %}"
                                                                         class="img-responsive"></a>
                </li>
                <li class="pull-left"><a><i>3</i><span>进行付款</span><img src="{% static 'img/icon_arr.png' %}"
                                                                       class="img-responsive"></a></li>
                <li class="pull-left"><a><i>4</i><span>完成充值</span></a></li>
            </ul>
        </div>
        <div class="container-fluid content main">
            <form action="/record/recharge/getpaypage/" method="post">

                <div class="form" id="firstStep">
                    <div class="form-inline">
                        <label>剩余积分：</label>
                        <span>{{ request.session.user_data.score }}分</span>
                    </div>
                    <div class="form-inline">
                        <label>金额充值：</label>
                        <div class="font-input">
                            <input name="amount" type="text" id="amountInp" class="form-control money" placeholder="请输入充值金额">
                            <span>元</span>
                        </div>
                    </div>
                    <div class="form-inline">
                        <label>充值积分：</label>
                        <span id="rechargeScore" class="color-orange integral">0分</span>
                    </div>
                    <div class="form-inline">
                        <a class="m-btn" id="sub">充值</a>
                    </div>
                </div>
                <div class="form" id="secondStep" style="display: none;">
                    <div class="pay-select">
                        <p class="title">选择支付方式：</p>
                        <div class="container-fluid">
                            <div class="row select">
                                <div class="col-lg-4 col-md-4 col-sm-4 td">
                                    <a class="active" id="ali">
                                        <img src="{% static 'img/AliPay.jpg' %}" class="img-responsive center-block">
                                        <input class="hide" id="aliRadio" type="radio" name="payType" value="1" checked="checked">
                                    </a>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 td">
                                    <a id="weChat" class="">
                                        <img src="{% static 'img/WeChatPay.jpg' %}" class="img-responsive center-block">
                                        <input class="hide" id="wxRadio" type="radio" name="payType" value="2">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="m-btn" id="">付款</button>
                </div>
            </form>

        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        let amount = 0;
        $("#amountInp").focusout(function () {
            let amount = $("#amountInp").val();
            if (isNaN(amount)) {
                $("#amountInp").val("");
                $("#rechargeScore").text("0分");
                $(".list-unstyled").children("")
            } else {
                $("#rechargeScore").text(amount * 2 + "分")
            }
        });
        $("#sub").click(function () {
            amount = $("#amountInp").val();
            if (amount > 0 && Utils.Isinteger(amount)) {
                $("#firstStep").fadeOut();
                $("#secondStep").fadeIn();
                $(".pull-left").first().removeClass("active");
                $(".pull-left:eq(1)").addClass("active");

            } else {
                alert("只能输入大于0的整数")
            }
        });
        $("#ali").click(function () {
            $(this).addClass("active");
            $("#weChat").removeClass("active");
            $("#aliRadio").prop("checked", "checked");
            $("#wxRadio").removeAttr("checked");
        });
        $("#weChat").click(function () {
            $(this).addClass("active");
            $("#ali").removeClass("active");
            $("#wxRadio").prop("checked", "checked");
            $("#aliRadio").removeAttr("checked");
        });
        $("#payment").click(function () {
            $.post(urls.recharge, {amount: amount}, function (res) {
                if (res.code === 0) {
                    alert("充值成功");
                    window.location.href = "/record/financial_information/recharge/"
                } else {
                    alert(res.msg)
                }
            })
        })
    </script>
{% endblock %}