{% extends 'record/layout.html' %}
{% load static %}
{% block content %}
    <div class="col-lg-9 col-md-9 col-sm-9 index">
        <div class="row baseInfo content">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="box">
                    <i>
                        <img src="{% static 'img/icon_user_header.png' %}" class="img-responsive">
                    </i>
                    <div class="text">
                        <p>欢迎，{{ request.session.user_data.nickname }}</p>
                        <p>当前等级:
                            {% if request.session.user_data.role == 1 %}
                                普通用户
                            {% elif request.session.user_data.role == 2 %}
                                实名认证用户
                            {% else %}
                                企业用户
                            {% endif %}
                        </p>
                    </div>
                    <a class="m-btn" href="/record/account/update">
                        <span>用户升级</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="box">
                    <i>
                        <img src="{% static 'img/icon_pig.png' %}" class="img-responsive">
                    </i>
                    <div class="text">
                        <p>可用积分</p>
                        <p>
                            <strong>{{ request.session.user_data.score }}分</strong>
                        </p>
                    </div>
                    <a class="m-btn" href="/record/financial_information/recharge/">立即充值</a>
                </div>
            </div>
        </div>
        <div class="row reportSelect content">
            <div class="col-lg-12">
                <span class="title">常用数据报告</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <a class="box p2p" href="/record/public_data/telecom_realname/">
                    <i>
                        <img src="{% static 'img/icon_01.png' %}" class="img-responsive">
                    </i>
                    <p>运营商三要素</p>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <a class="box baseReport" href="/record/public_data/antifraud_miguan/">
                    <i>
                        <img src="{% static 'img/icon_02.png' %}" class="img-responsive">
                    </i>
                    <p>蜜罐数据</p>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <a class="box depthReport" href="/record/public_data/finance_investment/">
                    <i>
                        <img src="{% static 'img/icon_03.png' %}" class="img-responsive">
                    </i>
                    <p>个人对外投资</p>
                </a>
            </div>
        </div>
        <div class="row searchRecord content">
            <div class="col-lg-12">
                <span class="title">近期查询记录</span>
            </div>
            <div class="col-lg-12">
                <table class="table text-center result">
                    <tbody>
                    <tr>
                        <th>姓名</th>
                        <th>查询时间</th>
                        <th>查询类型</th>
                        <th>详情</th>
                    </tr>
                    {% if records_list %}
                        {% for item in records_list %}
                            <tr>
                                <td>{{ item.name }}</td>
                                <td>{{ item.date | date:"Y-m-d" }}</td>
                                <td class="type">{{ item.service_chinese }}</td>
                                <td>
                                    <a class="info" data="{{ item.id }}" data-service="{{ item.service }}">详情</a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="4">暂无相关数据</td>

                        </tr>
                    {% endif %}


                    </tbody>
                </table>
                <div class="layer-page" id="page"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script>
        $(".info").click(function () {
            var service = $(this).data("service");
            var id = $(this).attr("data");
            switch (service) {
                case "Telecom_realname":
                    sky.phoneRealName(id);
                    break;
                case "Antifraud_miguan":
                    sky.miguan(id);
                    break;
                case "Finance_investment":
                    sky.financeInvestment(id);
                    break;
                default:
                    break
            }

        })
    
    </script>
{% endblock %}