{% extends 'record/layout.html' %}
{% load static %}
{% block content %}
    <div class="col-lg-9 col-md-9 col-sm-9">
        <!--公众数据导航-->
        <div class="fnNav">
            <ul class="list-unstyled">
                <li>
                    <a class="identityInfo active" href="accIdentityInfoV.do">
                        <span>身份证照片信息</span>
                    </a>
                </li>
                <li>
                    <a class="companyInfo" href="accCompanyInfoV.do">
                        <span>个人工商信息</span>
                    </a>
                </li>
                <li>
                    <a class="searchRecord" href="accSearchRecordV.do">
                        <span>身份查询记录</span>
                    </a>
                </li>
                <li>
                    <a class="courtInfo" href="accCourtInfoV.do">
                        <span>法院失信及被执行人</span>
                    </a>
                </li>
                <!--<li>
                    <a class="urgeMoney" href="accP2PUrgeMoneyV.do">
                        <span>逾期记录</span>
                    </a>
                </li>-->
                <!--<li>
                    <a class="address" href="accAddressV.do">
                        <span>地址信息</span>
                    </a>
                </li>-->
                <!--<li>
                    <a class="criminal" href="accCriminalV.do">
                        <span>犯罪在逃</span>
                    </a>
                </li>-->
                <li>
                    <a class="accPhoneRecord" href="accPhoneRecordV.do">
                        <span>手机实名认证</span>
                    </a>
                </li>
                <li>
                    <a class="accPhoneDate" href="accPhoneDateV.do">
                        <span>手机入网时长</span>
                    </a>
                </li>
                <li>
                    <a class="bankCardThree" href="accBankCardThreeV.do">
                        <span>银行卡三要素</span>
                    </a>
                </li>
                <li>
                    <a class="bankCardFour" href="accBankCardFourV.do">
                        <span>银行卡四要素</span>
                    </a>
                </li>
                <!--<li>
                    <a class="bankAnalysis" href="accBankAnalysisV.do">
                        <span>银行卡画像</span>
                    </a>
                </li>-->
                <!--<li>
                    <a class=" bankCardRecord" href="accBankCardRecordV.do">
                        <span>银行卡查询记录</span>
                    </a>
                </li>-->
            </ul>
        </div>
        <div class="container-fluid content form">
            <div class="form-title">身份证照片查询</div>
            <div class="form-inline">
                <input class="form-control name" type="text" placeholder="姓名">
                <input class="form-control idCard" type="text" placeholder="身份证号码">
                <a class="m-btn" id="sub">确定（2.4分/次）</a>
            </div>
            <div class="form-inline">
                <div class="checkbox">
                    <a><i></i>本人已获取该查询用户授权</a>
                </div>
                <a class="lookWarrant">《查看授权协议》</a>
            </div>
        </div>
        <div class="container-fluid content">
            <div class="tabs">
                <ul class="list-unstyled tabs-nav">
                    <li class="active result"><a>查询结果</a></li>
                    <li class="record"><a>查询历史</a></li>
                </ul>
                <div class="tabs-content">
                    <div id="result" class="tabs-main">
                        <div class="container-fluid-min total">
                            <p class="tab-title">身份证照片查询<img class="icon-sample"
                                                             src="{% static 'img/icon_sample.png' %}"></p>
                            <table class="text-left m-t-2">
                                <tbody>
                                <tr>
                                    <td><span>姓名：</span>张*三</td>
                                    <td><span>年龄：</span>30</td>
                                    <td rowspan="3" class="text-center">
                                        <img src="{% static 'img/icon_portrait_01.png' %}"
                                             class="img-responsive center-block">
                                    </td>
                                </tr>
                                <tr>
                                    <td><span>性别：</span>男</td>
                                    <td><span>出生日期：</span>1986-01-01</td>
                                </tr>
                                <tr>
                                    <td colspan="2"><span>证件号码：</span>1101****6924</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="record" class="tabs-main">
                        <div class="stretch-box"></div>
                        <div class="layer-page" id="page"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}