{% extends 'record/layout.html' %}
{% load static %}
{% block content %}
    <div class="col-lg-9 col-md-9 col-sm-9 recharge-record">
        <!--财务中心导航-->
        <div class="fnNav">
            <ul class="list-unstyled">
                <li>
                    <a class="recharge " href="/record/financial_information/recharge/">
                        <span>充值</span>
                    </a>
                </li>
                <li>
                    <a class="rechargeRecord active" href="/record/financial_information/recharge_record/">
                        <span>充值记录</span>
                    </a>
                </li>
                <!--<li>
                    <a class="invoice" href="accInvoiceControlV.do">
                        <span>开具发票</span>
                    </a>
                </li>
                <li>
                    <a class="invoiceRecord" href="accInvoiceRecordV.do">
                        <span>发票管理</span>
                    </a>
                </li>-->
            </ul>
        </div>
        <div class="container-fluid content">
            <p class="title-block">充值记录</p>
            <div class="operate">
                <!--<span>可索取发票金额：<strong>200元</strong> </span>-->
                <!--<a class="m-btn"  href="accInvoiceControlV.do">立刻开票</a>-->
            </div>
            <div class="stretch-box">
                <table class="table text-center td-4 table-blue-black">
                    <tbody id="record">
                    </tbody>
                </table>
            </div>
            <div class="layer-page" id="page"></div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    {% verbatim %}
    <script id="tableTemplate" type="text/html">
        <tr>
            <th>序号</th>
            <th>充值时间</th>
            <th>充值积分</th>
            <th>充值金额（元）</th>
        </tr>
        {{ if totalPages }}
            {{ each resultList }}
            <tr>
                <td>{{ $value.id }}</td>
                <td>{{ $value.date |fomateDateTime }}</td>
                <td>{{ $value.amount| cheng }}</td>
                <td>{{ $value.amount }}</td>
            </tr>
            {{ /each }}
        {{ else }}
        <tr>
            <td colspan="4">暂无数据</td>
        </tr>
        {{ /if }}

    </script>
    {% endverbatim %}
    <script type="text/javascript">
        let first = true;

        function pagePost(curr) {
            sky.loding();
            $.ajax({
                type: 'get',
                url: urls.recharge_record,
                dataType: 'json',
                data: {
                    page: curr
                },
                success: function (res) {
                    if (first) {
                        if (sky.isMobile()) {
                            laypage({
                                cont: 'page', //容器。值支持id名、原生dom对象，jquery对象,
                                pages: res.totalPages, //总页数
                                groups: 0,
                                first: true,
                                last: true,
                                jump: function (obj, first) {
                                    console.log(obj, first);
                                    pagePost(obj.curr);
                                }
                            });
                        } else {
                            laypage({
                                cont: 'page',
                                pages: res.totalPages,
                                curr: 1,
                                prev: '<',
                                next: '>',
                                jump: function (obj, first) {
                                    pagePost(obj.curr);
                                }
                            });
                        }
                        first = false;
                    }

                    sky.lodingClose();
                    try {
                        if (returnCode(res.code)) {
                            let html = template("tableTemplate", res);

                            $("#record").html(html);
                        }
                    } catch (e) {
                        sky.msg("系统发生异常！" + e);
                    }
                },
                error: function (xhr, type) {
                    sky.msg("服务器连接错误！");
                }
            })
        }

        pagePost(1);
    </script>
{% endblock %}