{% extends 'record/layout.html' %}
{% load static %}
{% block content %}
    <div class="col-lg-9 col-md-9 col-sm-9 recharge-record">
        <!--财务中心导航-->
        <div class="fnNav">
            <ul class="list-unstyled">
                <li>
                    <a class="recharge " href="/record/financial_information/recharge/">
                        <span>充值</span>
                    </a>
                </li>
                <li>
                    <a class="rechargeRecord active" href="/record/financial_information/recharge_record/">
                        <span>充值记录</span>
                    </a>
                </li>
                <!--<li>
                    <a class="invoice" href="accInvoiceControlV.do">
                        <span>开具发票</span>
                    </a>
                </li>
                <li>
                    <a class="invoiceRecord" href="accInvoiceRecordV.do">
                        <span>发票管理</span>
                    </a>
                </li>-->
            </ul>
        </div>
        <div class="container-fluid content">
            <p class="title-block">充值记录</p>
            <div class="operate">
                <!--<span>可索取发票金额：<strong>200元</strong> </span>-->
                <!--<a class="m-btn"  href="accInvoiceControlV.do">立刻开票</a>-->
            </div>
            <div class="stretch-box">
                <table class="table text-center td-4 table-blue-black">
                    <tbody>
                    <tr>
                        <th>序号</th>
                        <th>充值时间</th>
                        <th>充值积分</th>
                        <th>充值金额（元）</th>
                    </tr>

                    {% for item in records %}
                        <tr>
                            <td>{{ item.id }}</td>
                            <td>{{ item.date|date:"Y-m-d H:i" }}</td>
                            <td>{{ item.amount| add:item.amount }}</td>
                            <td>{{ item.amount }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="layer-page" id="page"></div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">

    </script>
{% endblock %}