{% extends 'record/layout.html' %}
{% load static %}
{% block content %}
    <div class="col-lg-9 col-md-9 col-sm-9">
        <!--查询记录导航-->
        <div class="fnNav">
            <ul class="list-unstyled">
                <li>
                    <a class="data active" href="accDataSearchV.do">
                        <span>基础数据查询记录</span>
                    </a>
                </li>
                <!--<li>
                    <a class="report" href="accReportRecordV.do">
                        <span>征信报告查询记录</span>
                    </a>
                </li>-->
            </ul>
        </div>
        <div class="container-fluid content data-Search">
            <p class="title-block">数据查询记录</p>
            <div class="form">
                <div class="form-inline">
                    <label>类别：</label>
                    <div class="row selectList">
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6"><a class="sort"
                                                                            data-service="Telecom_realname">运营商三要素</a></div>
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6"><a class="sort"
                                                                            data-service="Antifraud_miguan">蜜罐数据</a></div>
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6"><a class="sort" data-service="Finance_investment">个人对外投资</a>
                        </div>
                    </div>
                </div>
                <!--<div class="form-inline">
                    <label>关键字：</label>
                    <input class="form-control key" type="text" placeholder="请输入关键字">
                    <a class="m-btn" id="sub">查询</a>
                </div>-->
            </div>
            <div class="stretch-box">
                <table class="table text-center td-5">
                    <tbody id="record">

                    </tbody>
                </table>
            </div>

            <div class="layer-page" id="page">

            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    {% verbatim %}
    <script id="tableTemplate" type="text/html">
        <tr>
            <th>序号</th>
            <th>关键字</th>
            <th>类别</th>
            <th>查询时间</th>
            <th>操作</th>
        </tr>
        {{ each resultList }}
            <tr>
                <td>{{ $value.id }}</td>
                <td class="key" style="text-overflow:ellipsis;overflow: hidden;">
                    <span class="h">{{ $value.real_name }}{{ $value.id_card }}</span>
                </td>
                <td class="type">{{ service_chinese }}</td>
                <td>{{ $value.date }}</td>
                <td><a class="info" data-service="{{ service }}" data="{{ $value.id }}">详情</a></td>
            </tr>
        {{ /each }}
    </script>
    {% endverbatim %}
    <script type="text/javascript">
        let first = true;
        $(".sort").click(function () {
            let service = $(this).data("service");
            first = true;
            pagePost(1, service)

        });


        function pagePost(curr, service) {
            sky.loding();
            $.ajax({
                type: 'post',
                url: urls.getSearchHistory,
                dataType: 'json',
                data: {
                    service: service,
                    page: curr
                },
                success: function (res) {
                    if (first) {
                        if (sky.isMobile()) {
                            laypage({
                                cont: 'page', //容器。值支持id名、原生dom对象，jquery对象,
                                pages: res.totalPages, //总页数
                                groups: 0,
                                first: true,
                                last: true,
                                jump: function (obj, first) {
                                    console.log(obj, first);
                                    pagePost(obj.curr,service);
                                }
                            });
                        } else {
                            laypage({
                                cont: 'page',
                                pages: res.totalPages,
                                curr: 1,
                                prev: '<',
                                next: '>',
                                jump: function (obj, first) {
                                    pagePost(obj.curr,service);
                                }
                            });
                        }
                        first = false;
                    }

                    sky.lodingClose();
                    try {
                        if (returnCode(res.code)) {
                            let html = template("tableTemplate",res);

                            $("#record").html(html);
                            $("#record .info").click(function () {
                                var service = $(this).data("service");
                                var id = $(this).attr("data");
                                switch (service) {
                                    case "Telecom_realname":
                                        sky.phoneRealName(id);
                                        break;
                                    case "Antifraud_miguan":
                                        sky.miguan(id);
                                        break;
                                    case "Finance_investment":
                                        sky.financeInvestment(id);
                                        break;
                                    default:
                                        break
                                }

                            })
                        }
                    } catch (e) {
                        sky.msg("系统发生异常！" + e);
                    }
                },
                error: function (xhr, type) {
                    sky.msg("服务器连接错误！");
                }
            })
        }
        pagePost(1, "Telecom_realname");
    </script>
{% endblock %}