{% extends 'record/pulic_data/nav.html' %}
{% load static %}
{% block contianer %}
    <div class="container-fluid form content">
        <div class="form-title"> 个人对外投资</div>
        <div class="form-inline">
            <input class="form-control name" type="text" placeholder="姓名">
            <input class="form-control idCard" type="text" placeholder="身份证号码"></br>
            <input class="form-control phone" type="text" placeholder="手机号码">
            <input class="form-control msgCode" type="text" placeholder="被查询人手机验证码">
            <button class="btn m-btn" id="getMsgCode">获取验证码</button>
            </br>
            <a class="m-btn" id="sub">确定（30分/次）</a>
        </div>
        <div class="form-inline">
            <div class="checkbox">
                <a><i></i>本人已获取该查询用户授权</a>
            </div>
            <a class="lookWarrant">《查看授权协议》</a>
        </div>
    </div>
    <div class="container-fluid content">
        <div class="tabs">
            <ul class="list-unstyled tabs-nav">
                <li class="active result"><a>查询结果</a></li>
                <li class="record"><a>查询历史</a></li>
            </ul>
            <div class="tabs-content">
                <div id="result" class="tabs-main">
                    <div class="container-fluid-min">
                        <p class="tab-title">企业股东信息<img class="icon-sample" src="{% static 'img/icon_sample.png' %}">
                        </p>
                        <table class="table m-t-2">
                            <tbody>
                            <tr>
                                <td colspan="2" class="title">企业名称</td>
                                <td colspan="2">***科技有限公司</td>
                            </tr>
                            <tr>
                                <td class="title">企业类型</td>
                                <td>有限责任公司(自然人投资或控股)</td>
                                <td class="title">认缴出资额(万元)</td>
                                <td>10.000000</td>
                            </tr>
                            <tr>
                                <td class="title">出资比例</td>
                                <td>20.00%</td>
                                <td class="title">注册资本(万元)</td>
                                <td>50.000000</td>
                            </tr>
                            <tr>
                                <td class="title">出资方式</td>
                                <td>货币</td>
                                <td class="title">查询人姓名</td>
                                <td>张三</td>
                            </tr>
                            <tr>
                                <td class="title">币种</td>
                                <td>人民币元</td>
                                <td class="title">认缴出资额(币种)</td>
                                <td>人民币元</td>
                            </tr>
                            <tr>
                                <td class="title">企业注册号</td>
                                <td>320105000153207</td>
                                <td class="title">企业状态</td>
                                <td>在营(开业)</td>
                            </tr>

                            </tbody>

                        </table>
                        <p class="tab-title no-top-border">企业主要管理人员信息</p>
                        <table class="table m-t-2">
                            <tbody>
                            <tr>
                                <td colspan="2" class="title">企业名称</td>
                                <td colspan="2">***科技有限公司</td>
                            </tr>
                            <tr>
                                <td class="title">查询人姓名</td>
                                <td>张三</td>
                                <td class="title">企业类型</td>
                                <td>有限责任公司(自然人投资或控股)</td>
                            </tr>
                            <tr>
                                <td colspan="2" class="title">企业注册号</td>
                                <td colspan="2">320105000153207</td>

                            </tr>
                            <tr>
                                <td class="title">注册资本(万元)</td>
                                <td>50.000000</td>
                                <td class="title">币种</td>
                                <td>人民币元</td>
                            </tr>
                            <tr>
                                <td class="title">企业状态</td>
                                <td>再营(开业)</td>
                                <td class="title">职务</td>
                                <td>总经理</td>
                            </tr>
                            </tbody>

                        </table>
                        <p class="tab-title no-top-border">企业法人代表信息</p>
                        <table class="table m-t-2">
                            <tbody>
                            <tr>
                                <td colspan="2" class="title">企业名称</td>
                                <td colspan="2">***科技有限公司</td>
                            </tr>
                            <tr>
                                <td class="title">查询人姓名</td>
                                <td>张三</td>
                                <td class="title">企业状态</td>
                                <td>再营(开业)</td>
                            </tr>
                            <tr>
                                <td class="title">企业注册号</td>
                                <td>320105000153207</td>
                                <td class="title">企业类型</td>
                                <td>有限责任公司(自然人投资或控股)</td>
                            </tr>
                            <tr>
                                <td class="title">注册资本(万元)</td>
                                <td>50.000000</td>
                                <td class="title">币种</td>
                                <td>人民币元</td>
                            </tr>

                            </tbody>

                        </table>
                        <p class="tab-title no-top-border">失信被执行人信息</p>
                        <table class="table m-t-2">
                            <tbody>
                            <tr>
                                <td class="title">案号</td>
                                <td>100000</td>
                                <td class="title">被执行人姓名</td>
                                <td>张四</td>
                            </tr>
                            <tr>
                                <td class="title">失信类型</td>
                                <td>无</td>
                                <td class="title">性别</td>
                                <td>男</td>
                            </tr>
                            <tr>
                                <td class="title">年龄</td>
                                <td>24</td>
                                <td class="title">身份证号码/工商注册号</td>
                                <td>4302090****2039</td>
                            </tr>
                            <tr>
                                <td class="title">身份证原始发地</td>
                                <td>湖南省</td>
                                <td class="title">法定代表人/负责人姓名</td>
                                <td>张飒</td>
                            </tr>
                            <tr>
                                <td class="title">立案时间</td>
                                <td>2018-01-01</td>
                                <td class="title">公布时间</td>
                                <td>2018-01-01</td>
                            </tr>
                            <tr>
                                <td class="title">执行法院</td>
                                <td>**市中级人民法院</td>
                                <td class="title">省份</td>
                                <td>**省</td>
                            </tr>
                            <tr>
                                <td class="title">执行文号</td>
                                <td>1000***000</td>
                                <td class="title">做出执行依据单位</td>
                                <td>***</td>
                            </tr>
                            <tr>
                                <td class="title">生效法律文书确定的义务</td>
                                <td> duty</td>
                                <td class="title">失信被执行人为具体情形</td>
                                <td>***</td>
                            </tr>
                            <tr>
                                <td colspan="2" class="title">被指信任的履行情况</td>
                                <td colspan="2">已履行</td>

                            </tr>
                            </tbody>

                        </table>
                        <p class="tab-title no-top-border">被执行人信息</p>
                        <table class="table m-t-2">
                            <tbody>
                            <tr>
                                <td class="title">案号</td>
                                <td>100000</td>
                                <td class="title">被执行人姓名</td>
                                <td>张四</td>
                            </tr>
                            <tr>
                                <td class="title">案件状态</td>
                                <td>**</td>
                                <td class="title">性别</td>
                                <td>男</td>
                            </tr>
                            <tr>
                                <td class="title">年龄</td>
                                <td>24</td>
                                <td class="title">身份证号码/工商注册号</td>
                                <td>4302090****2039</td>
                            </tr>
                            <tr>
                                <td class="title">身份证原始发地</td>
                                <td>湖南省</td>
                                <td class="title">法定代表人/负责人姓名</td>
                                <td>张飒</td>
                            </tr>
                            <tr>
                                <td class="title">立案时间</td>
                                <td>2018-01-01</td>
                                <td class="title">执行标的</td>
                                <td>***</td>
                            </tr>
                            <tr>
                                <td class="title">执行法院</td>
                                <td>**市中级人民法院</td>
                                <td class="title">省份</td>
                                <td>**省</td>
                            </tr>

                            </tbody>

                        </table>
                    </div>

                </div>
                <div id="record" class="tabs-main">
                    <div class="stretch-box">
                        <table>
                            <tbody>
                            <tr>
                                <th>序号</th>
                                <th>姓名</th>
                                <th>身份证号</th>
                                <th>手机号</th>
                                <th>查询时间</th>
                                <th>查询状态</th>
                                <th>操作</th>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="layer-page" id="page"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        //获取手机验证码
        $("#getMsgCode").click(function () {
            getMsgCode($(this), $(".phone").val())
        });
        $(".fnNav .accPhoneRecord").addClass("active");
        $("#sub").click(function () {
            if (!true) {
                sky.login();
                return
            }
            let t = $(this);
            if (t.hasClass("disabled")) {
                return;
            }
            if (!$(".checkbox").hasClass("active")) {
                sky.msg("请勾选授权协议！");
                return;
            }
            let name_input = $(".name");
            let idCard_input = $(".idCard");
            let phone_input = $(".phone");
            let msgCode_input = $(".msgCode");

            let name = name_input.val();
            let idCard = idCard_input.val();
            let phone = phone_input.val();
            let msgCode = msgCode_input.val();

            if (!Utils.IsChineseName(name)) {
                name_input.addClass("warn");
                sky.msg("您姓名格式错误！");
                return
            }

            if (!Utils.IsIdcard(idCard)) {
                idCard_input.addClass("warn");
                sky.msg("您身份证号码输入错误！");
                return
            }
            if (!Utils.IsMobile(phone)) {
                phone_input.addClass("warn");
                sky.msg("您手机输入错误！");
                return
            }
            if (!Utils.IsPhoneCode(msgCode)) {
                msgCode_input.addClass("warn");
                sky.msg("您短信验证码输入错误！");
                return
            }
            sky.loding();
            t.addClass("disabled");
            $.ajax({
                type: 'post',
                url: urls.checkTelRealName,
                dataType: 'json',
                data: {
                    'realName': name,
                    'idCard': idCard,
                    'msgCode': msgCode,
                    'service': 'Finance_investment'
                },
                success: function (res) {
                    t.removeClass("disabled");
                    sky.lodingClose();
                    console.log(res);
                    $("#score").text(res.new_score);
                    try {
                        if (returnCode(res.code) && res.data.RESULT === "1") {
                            sucPrompt();
                            res.status = res.data.MESSAGE;
                            let html = template('table-template', res);
                            $("#result > div").html(html);
                        } else {
                            let html = '<p class="tab-title">个人对外投资</p>' +
                                '<table class="table m-t-2">' +
                                '<tr>' +
                                '<td colspan="4">' + res.data.MESSAGE + '</td>' +
                                '</tr>' +
                                '</table>';
                            ;
                            $("#result > div").html(html);
                            sky.msg(res.msg);
                        }
                    } catch (e) {
                        sky.msg("系统发生异常！" + e);
                    }
                },
                error: function (xhr, type) {
                    t.removeClass("disabled");
                    sky.lodingClose();
                    sky.msg("服务器连接错误！");
                }
            })
        });
        $(".tabs .tabs-nav .record").click(function () {
            pagePost(1)

        });
        let first = true;

        function pagePost(curr) {
            sky.loding();
            $.ajax({
                type: 'post',
                url: urls.getSearchHistory,
                dataType: 'json',
                data: {
                    service: "Finance_investment",
                    page: curr
                },
                success: function (res) {
                    if (first) {
                        if (sky.isMobile()) {
                            laypage({
                                cont: 'page', //容器。值支持id名、原生dom对象，jquery对象,
                                pages: res.totalPages, //总页数
                                groups: 0,
                                first: true,
                                last: true,
                                jump: function (obj, first) {
                                    console.log(obj, first);
                                    pagePost(obj.curr);
                                }
                            });
                        } else {
                            laypage({
                                cont: 'page',
                                pages: res.totalPages,
                                curr: 1,
                                prev: '<',
                                next: '>',
                                jump: function (obj, first) {
                                    pagePost(obj.curr);
                                }
                            });
                        }
                        first = false;
                    }

                    $(".icon-sample").remove();
                    sky.lodingClose();
                    try {
                        if (returnCode(res.code)) {
                            let html = '<table>' +
                                '<tr>' +
                                '<th>序号</th>' +
                                '<th>姓名</th>' +
                                '<th>身份证号</th>' +
                                '<th>查询时间</th>' +
                                '<th>查询状态</th>' +
                                '<th>操作</th>' +
                                '</tr>';
                            if (res.resultList != 0) {
                                for (let i in res.resultList) {
                                    html += '<tr>' +
                                        '<td>' + (parseInt(i) + 1) + '</td>' +
                                        '<td>' + res.resultList[i].real_name + '</td>' +
                                        '<td>' + res.resultList[i].id_card + '</td>' +
                                        '<td>' + res.resultList[i].date + '</td>' +
                                        '<td>完成</td>' +
                                        '<td><a class="info" data="' + res.resultList[i].id + '">详情</a></td>' +
                                        '</tr>'
                                }
                            } else {
                                html += '<tr>' +
                                    '<td colspan="6">暂无相关信息</td>' +
                                    '</tr>';
                            }
                            html += '</table>';
                            $("#record .stretch-box").html(html);
                            $("#record .info").click(function () {
                                sky.financeInvestment($(this).attr("data"));
                            });
                        }
                    } catch (e) {
                        sky.msg("系统发生异常！" + e);
                    }
                },
                error: function (xhr, type) {
                    sky.msg("服务器连接错误！");
                }
            })
        }
    </script>
{% endblock %}