{% extends 'record/pulic_data/nav.html' %} {% load static %} {% block contianer %}
    <div class="container-fluid form content">
        <div class="form-title">手机实名认证</div>
        <div class="form-inline">
            <input class="form-control name" type="text" placeholder="姓名">
            <input class="form-control idCard" type="text" placeholder="身份证号码">
            <input class="form-control phone" type="text" placeholder="手机号码">
            <a class="m-btn" id="sub">确定（2分/次）</a>
        </div>
        <div class="form-inline">
            <div class="checkbox">
                <a><i></i>本人已获取该查询用户授权</a>
            </div>
            <a class="lookWarrant">《查看授权协议》</a>
        </div>
    </div>
    <div class="container-fluid content">
        <div class="tabs">
            <ul class="list-unstyled tabs-nav">
                <li class="active result"><a>查询结果</a></li>
                <li class="record"><a>查询历史</a></li>
            </ul>
            <div class="tabs-content">
                <div id="result" class="tabs-main">
                    <div class="container-fluid-min">
                        <p class="tab-title">手机实名认证<img class="icon-sample" src="{% static 'img/icon_sample.png' %}">
                        </p>
                        <table class="table m-t-2">
                            <tbody>
                            <tr>
                                <td class="title">姓名</td>
                                <td>张*三</td>
                                <td class="title">手机号</td>
                                <td>180****5214</td>
                            </tr>
                            <tr>
                                <td class="title">运营商</td>
                                <td>中国移动</td>
                                <td class="title">实名检验</td>
                                <td>相同</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="record" class="tabs-main">
                    <div class="stretch-box">
                        <table>
                            <tbody>
                            <tr>
                                <th>序号</th>
                                <th>姓名</th>
                                <th>身份证号</th>
                                <th>手机号</th>
                                <th>查询时间</th>
                                <th>查询状态</th>
                                <th>操作</th>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="layer-page" id="page"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %} {% block javascript %}
    <script>
        $(".fnNav .accPhoneRecord").addClass("active");
        $("#sub").click(function () {
            if (!true) {
                sky.login();
                return
            }
            let t = $(this);
            if (t.hasClass("disabled")) {
                return;
            }
            if (!$(".checkbox").hasClass("active")) {
                sky.msg("请勾选授权协议！");
                return;
            }
            let name_input = $(".name");
            let idCard_input = $(".idCard");
            let phone_input = $(".phone");

            let name = name_input.val();
            let idCard = idCard_input.val();
            let phone = phone_input.val();

            if (!Utils.IsChineseName(name)) {
                name_input.addClass("warn");
                sky.msg("您姓名格式错误！");
                return
            }
            if (!Utils.IsMobile(phone)) {
                phone_input.addClass("warn");
                sky.msg("您手机输入错误！");
                return
            }
            if (!Utils.IsIdcard(idCard)) {
                idCard_input.addClass("warn");
                sky.msg("您身份证号码输入错误！");
                return
            }
            sky.loding();
            t.addClass("disabled");
            $.ajax({
                type: 'post',
                url: urls.checkTelRealName,
                dataType: 'json',
                data: {
                    'realName': name,
                    'idCard': idCard,
                    'mobile': phone,
                    'service': 'Telecom_realname'
                },
                success: function (res) {
                    t.removeClass("disabled");
                    sky.lodingClose();
                    console.log(res);
                    $("#score").text(res.new_score);
                    try {
                        if (returnCode(res.code)) {
                            sucPrompt();
                            res.status = res.data.MESSAGE;
                            let html = '<p class="tab-title">手机实名认证</p>' +
                                '<table class="table m-t-2">' +
                                '<tr>' +
                                '<td class="title">姓名</td>' +
                                '<td>' + res.info.realName + '</td>' +
                                '<td class="title">手机号</td>' +
                                '<td>' + res.info.mobile + '</td>' +
                                '</tr>' +
                                '<tr>' +
                                '<td class="title">运营商</td>' +
                                '<td>' + res.data.isp + '</td>' +
                                '<td class="title">实名检验</td>' +
                                '<td>' + res.status + '</td>' +
                                '</tr>' +
                                '</table>';
                            $("#result > div").html(html);
                        } else {
                            let html = '<p class="tab-title">手机实名历史</p>' +
                                '<table class="table m-t-2">' +
                                '<tr>' +
                                '<td colspan="4">查询失败！暂无相关数据</td>' +
                                '</tr>' +
                                '</table>';
                            ;
                            $("#result > div").html(html);
                            sky.msg(res.msg);
                        }
                    } catch (e) {
                        sky.msg("系统发生异常！" + e);
                    }
                },
                error: function (xhr, type) {
                    t.removeClass("disabled");
                    sky.lodingClose();
                    sky.msg("服务器连接错误！");
                }
            })
        });
        $(".tabs .tabs-nav .record").click(function () {
            pagePost(1)

        });
        let first = true;

        function pagePost(curr) {
            sky.loding();
            $.ajax({
                type: 'post',
                url: urls.getSearchHistory,
                dataType: 'json',
                data: {
                    service: "Telecom_realname",
                    page: curr
                },
                success: function (res) {
                    if (first) {
                        if (sky.isMobile()) {
                            laypage({
                                cont: 'page', //容器。值支持id名、原生dom对象，jquery对象,
                                pages: res.totalPages, //总页数
                                groups: 0,
                                first: true,
                                last: true,
                                jump: function (obj, first) {
                                    console.log(obj, first);
                                    pagePost(obj.curr);
                                }
                            });
                        } else {
                            laypage({
                                cont: 'page',
                                pages: res.totalPages,
                                curr: 1,
                                prev: '<',
                                next: '>',
                                jump: function (obj, first) {
                                    pagePost(obj.curr);
                                }
                            });
                        }
                        first = false;
                    }

                    $(".icon-sample").remove();
                    sky.lodingClose();
                    try {
                        if (returnCode(res.code)) {
                            let html = '<table>' +
                                '<tr>' +
                                '<th>序号</th>' +
                                '<th>姓名</th>' +
                                '<th>身份证号</th>' +
                                '<th>手机号</th>' +
                                '<th>查询时间</th>' +
                                '<th>查询状态</th>' +
                                '<th>操作</th>' +
                                '</tr>';
                            if (res.resultList != 0) {
                                for (let i in res.resultList) {
                                    html += '<tr>' +
                                        '<td>' + (parseInt(i) + 1) + '</td>' +
                                        '<td>' + res.resultList[i].real_name + '</td>' +
                                        '<td>' + res.resultList[i].id_card + '</td>' +
                                        '<td>' + res.resultList[i].mobile + '</td>' +
                                        '<td>' + res.resultList[i].date + '</td>' +
                                        '<td>完成</td>' +
                                        '<td><a class="info" data="' + res.resultList[i].id + '">详情</a></td>' +
                                        '</tr>'
                                }
                            } else {
                                html += '<tr>' +
                                    '<td colspan="7">暂无相关信息</td>' +
                                    '</tr>';
                            }
                            html += '</table>';
                            $("#record .stretch-box").html(html);
                            $("#record .info").click(function () {
                                sky.phoneRealName($(this).attr("data"));
                            });
                        }
                    } catch (e) {
                        sky.msg("系统发生异常！" + e);
                    }
                },
                error: function (xhr, type) {
                    sky.msg("服务器连接错误！");
                }
            })
        }
    </script>
{% endblock %}