{% extends 'layout.html' %}
{% load static %}
{% block content %}
    <!-- Google Map -->
{#    <script src="https://maps.googleapis.com/maps/api/js"></script>#}
    <script src="{% static 'js/google-map-init.js' %}"></script>
    <!-- Slider Start -->
    <section id="global-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h1>帮助中心</h1>
                        <p>Help Center</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- contact form start -->
    <section id="contact-form">
        <div class="container help">
            <p>91征信，由北京小崔时代信息服务有限公司运营。公司始创于2012年1月，是一家致力于利用科技解决金融领域数据问题的技术公司。</p>
            <p>2015年6月，公司以创新的不良资产处置方案获得市场及资本认可，并获得国际知名风险投资机构经纬中国的千万级天使轮融资， 同年10月，致力于深层解决金融风险问题与征信数据共享问题的产品91征信正式上线。</p>
            <p>2016年2月，91征信企业用户量超过200家，同期完成A轮融资，经纬中国跟投，2016年底公司实现全面盈利。</p>
            <p>2017年5月，91征信用户量近500家，同期公司完成由银之杰（股票代码300085）投资的B轮数千万融资。新的融资将加速91征信愿景的实现，致力于通过互联网改变征信，为金融服务机构提供共享技术，全面降低金融行业风险。</p>
            <p>91征信是全国首家通过分布式数据库技术方案，从系统服务、场景应用、用户体验、业务交易等层面提供互联网征信数据服务的公司。在两年的迅速发展过程中，至今已服务包括中银消费、百度、玖富、中腾信、夸客金融在内的等近600家机构，为用户累计提供超过6600万人次的数据共享服务，产品每日为金融机构提供共享数据查询服务在50万次以上，全面覆盖了银行、消费金融、保险、三方支付、P2P、租车、保理等各类领域。</p>
            <p>91征信核心团队由宜信、百度、京东金融人员组成，总部位于中国北京，同时在上海、深圳设有业务部，目前公司业务已经拓展至北京、上海、深圳、杭州、南京、广州、成都、武汉、天津、青岛、石家庄等地区。</p>
            <p>薛本川先生是91征信创始人。2015年主导设计了征信技术产品——91征信，致力于通过互联网改变我国征信行业现状，为金融机构提供征信数据共享技术，连接信息孤岛，构建征信网络。91征信历经两年发展，在薛本川先生的带领下完成了天使轮、A轮及B轮融资，获得了近600家金融机构的认可，已经成为征信行业的领军企业之一。 薛本川先生毕业于中国科学院研究生院，主修工商管理及金融专业。2012年至2015年之间，薛本川先生一直带领团队在金融服务领域连续创业，在信贷风险全流程管理、行业风险信息共享、不良资产处置等领域均有建树。</p>
        </div>
    </section>
    <!-- Call to action Start -->
    <section id="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h2>诚信与责任</h2>
                        <p>诚信是公司治理的基石。91征信的商业行为准则以“诚信手册”作为指导，为员工互相之间的业务往来，员工与客户监管者、媒体以及其他利益相关者之间的来往所需遵循的原则提供指导，致力于打造一个强有力和公开的诚信体系。目前91征信设有独立的诚信监督部门，严格进行自律，以确保每个与91征信合作的伙伴都可以对我们保持充分的信任。</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}