{% extends 'layout.html' %}
{% load static %}
{% block content %}
    <!-- Slider Start -->
    <section id="slider">
        <div class="container">
            <div class="row">
                <!-- .col-md-5 close -->
                <div class="col-md-6 col-sm-12 col-md-offset-3">
                    <div class="block">
                        <h1 class="animated fadeInUp">同业征信报告 &#38;</h1>
                        <p class="animated fadeInUp">同业征信报告是91征信的多重负债产品，利用信息共享平台获悉用户的隐性负债信息，
                            可用于风控决策、数据建模、贷中监控、提高催收效率等多种用途。</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Wrapper Start -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="block">
                        <div class="section-title">
                            <h2>规模大</h2>
                            <p>近600家同业机构共享</p>
                        </div>
                        <p>近600家互联网金融公司，小额贷款公司，消费金融公司选择加入我们的同业征信联盟，实现数据实时共享。
                            借贷数据在同业间的共享，大幅提升了每个参与者的风险识别能力，准确识别借款人的负债情况。</p>
                    </div>
                </div><!-- .col-md-7 close -->
                <div class="col-md-6 col-sm-12">
                    <div class="block">
                        <img src="{% static 'img/img_02.png' %}" alt="Img">
                    </div>
                </div><!-- .col-md-5 close -->
            </div>
        </div>
    </section>
    <section id="feature">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-6">
                    <div class="block">
                        <div class="section-title">
                            <h2>数据新</h2>
                            <p>每条数据都是上一秒最新</p>
                        </div>
                        <p>我们为您搭建最快的数据通道，与数百家机构进行数据互联，采用先进的分布式数据解决方案，实现数据的秒级反馈，为您实时决策提供坚实依据。
                            共享的数据被广泛应用到小微企业贷款，个人消费贷款，小额现金贷款等业务领域。</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Service Start -->
    <section id="service">
        <div class="container">
            <div class="row">

                <div class="section-title">
                    <h2>数据准</h2>
                    <p>设计，为模型而生</p>

                </div>
                <p>我们为您设计的字段内容中，包括了FICO评分以及广泛信用模型中权重最高的数据内容。包括了借款
                    人的信用偿还历史、信用账户数、信用年限、新开立信用账户，正在使用的信用类型。</p>
            </div>
            <div class="row ">
                <div class="col-sm-6 col-md-4">
                    <div class="service-item">
                        <div class="block">
                            <img src="{% static 'img/img_title_01.png' %}" alt="Img">
                        </div>
                        <h4>偿还历史</h4>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="service-item">
                        <div class="block">
                            <img src="{% static 'img/img_title_02.png' %}" alt="Img">
                        </div>
                        <h4>信用账户</h4>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="service-item">
                        <div class="block">
                            <img src="{% static 'img/img_title_03.png' %}" alt="Img">
                        </div>
                        <h4>信用年限</h4>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-md-offset-2">
                    <div class="service-item">
                        <div class="block">
                            <img src="{% static 'img/img_title_04.png' %}" alt="Img">
                        </div>
                        <h4>新开账户数</h4>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="service-item">
                        <div class="block">
                            <img src="{% static 'img/img_title_05.png' %}" alt="Img">
                        </div>
                        <h4>信用类型</h4>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Call to action Start -->
    <section id="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h2>数据准</h2>
                        <p>我们为您设计的字段内容中，包括了FICO评分以及广泛信用模型中权重最高的数据内容。包括了借款
                            人的信用偿还历史、信用账户数、信用年限、新开立信用账户，正在使用的信用类型。我们为您搭建
                            最快的数据通道，与数百家机构进行数据互联，采用先进的分布式数据解决方案，实现数据的秒级反馈，为您实时决策提供坚实依据。 共享的数据被广泛应用到小微企业贷款，个人消费贷款，小额现金贷款等业务领域。</p>
                        <a class="btn btn-default btn-call-to-action" href="#">加入我们</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Content Start -->
    <section id="testimonial">
        <div class="container">
            <div class="row">
                <div class="section-title text-center">
                    <h2>关于我们</h2>
                    <p>科技征信”是91征信的核心理念，致力于依靠科技力量加速我国征信事业发展。旨在通过自身的市场化实践， 加大科技力量投入，
                        不断实践以期打造符合当下时代，符合当前趋势，符合用户需求的征信产品。</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="block">
                        <ul class="counter-box clearfix">
                            <li>
                                <div class="block">
                                    <i class="ion-ios-chatboxes-outline"></i>
                                    <h4 class="counter">20301</h4>
                                    <span>身份证查询</span>
                                </div>
                            </li>
                            <li>
                                <div class="block">
                                    <i class="ion-ios-glasses-outline"></i>
                                    <h4 class="counter">10090</h4>
                                    <span>征信查询</span>
                                </div>
                            </li>
                            <li>
                                <div class="block">
                                    <i class="ion-ios-compose-outline"></i>
                                    <h4 class="counter">17789</h4>
                                    <span>反欺诈查询</span>
                                </div>
                            </li>
                            <li>
                                <div class="block">
                                    <i class="ion-ios-timer-outline"></i>
                                    <h4 class="counter">39909</h4>
                                    <span>三要素查询</span>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="testimonial-carousel">
                        <div id="testimonial-slider" class="owl-carousel">
                            <div>
                                <img src="{% static 'img/cotation.png' %}" alt="IMG">
                                <p>"This Company created an e-commerce site with the tools to make our business a
                                    success, with innovative ideas we feel that our site has unique elements that make
                                    us stand out from the crowd."</p>
                                <div class="user">
                                    <img src="{% static 'img/item-img1.jpg' %}" alt="Pepole">
                                    <p><span>Rose Ray</span> CEO-Themefisher</p>
                                </div>
                            </div>
                            <div>
                                <img src="{% static 'img/cotation.png' %}" alt="IMG">
                                <p>"This Company created an e-commerce site with the tools to make our business a
                                    success, with innovative ideas we feel that our site has unique elements that make
                                    us stand out from the crowd."</p>
                                <div class="user">
                                    <img src="{% static 'img/item-img1.jpg' %}" alt="Pepole">
                                    <p><span>Rose Ray</span> CEO-Themefisher</p>
                                </div>
                            </div>
                            <div>
                                <img src="{% static 'img/cotation.png' %}" alt="IMG">
                                <p>"This Company created an e-commerce site with the tools to make our business a
                                    success, with innovative ideas we feel that our site has unique elements that make
                                    us stand out from the crowd."</p>
                                <div class="user">
                                    <img src="{% static 'img/item-img1.jpg' %}" alt="Pepole">
                                    <p><span>Rose Ray</span> CEO-Themefisher</p>
                                </div>
                            </div>
                            <div>
                                <img src="{% static 'img/cotation.png' %}" alt="IMG">
                                <p>"This Company created an e-commerce site with the tools to make our business a
                                    success, with innovative ideas we feel that our site has unique elements that make
                                    us stand out from the crowd."</p>
                                <div class="user">
                                    <img src="{% static 'img/item-img1.jpg' %}" alt="Pepole">
                                    <p><span>Rose Ray</span> CEO-Themefisher</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}