{% load static %}
<!DOCTYPE html>
<html lang='zh'>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>宏图数据-登录</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/login/form-elements.css' %}">
    <link rel="stylesheet" href="{% static 'css/login/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    <!--urls-->
    <script src="{% static 'js/rest-api.js' %}"></script>
</head>

<body>

<!-- Top menu -->
<nav class="navbar navbar-inverse navbar-no-bg" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/index/">宏图数据</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="top-navbar-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/index/"><i class="fa fa-reply" aria-hidden="true"></i> 回到首页</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Top content -->
<div class="top-content">

    <div class="inner-bg">

        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text">
                    <h1><strong>宏图数据</strong> 用户登录</h1>
                    <div class="description">
                        <p>
                            中立的数据征信 <a href="#"><strong>数据征信</strong></a>服务平台
                        </p>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 form-box col-sm-offset-3">
                    <div class="form-top">
                        <div class="form-top-left">
                            <h3>登录</h3>
                            <p>密码登录</p>
                            <p style="color:red">{{ msg }}</p>
                        </div>
                        <div class="form-top-right">
                            <i class="fa fa-pencil"></i>
                        </div>
                    </div>
                    <div class="form-bottom">
                        <form role="form" action="/record/index/" method="post" class="registration-form">
                            <div class="form-group">
                                <label class="sr-only" for="form-first-name">手机号</label>
                                <input type="text" name="form-first-name" placeholder="手机号"
                                       class="form-first-name form-control" id="form-phone">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-last-name">密码</label>
                                <input type="password" name="form-last-name" placeholder="密码"
                                       class="form-control form-password" id="form-password">
                            </div>
                            <!--<div class="form-group">
                                <label class="sr-only" for="form-email">验证码</label>
                                <input type="text" name="form-email" placeholder="验证码"
                                       class="form-email form-control" id="form-email">
                            </div>-->
                            <button type="button" id="loginBtn" class="btn">马上登录</button>

                            <div class="text-right">
                                {% if registerSwitch %}
                                    <a href="/register/">注册</a> |
                                {% endif %}
                                <a id="forgetBtn" href="javascript:void(0)">忘记密码?</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <!--忘记密码-->
        <div class="modal fade ng-scope" id="divForgetPassword" tabindex="-1" role="dialog"
             aria-hidden="false">
            <div class="modal-dialog" role="document" style="top:200px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">×</span></button>
                        <h4 class="modal-title">重置密码</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form ng-pristine ng-valid">
                            <div class="form-group">
                                <input type="number" class="form-control ng-pristine ng-valid" placeholder="请输入手机号码"
                                       ng-model="Model.accountName" ng-blur="Model.accountNameBlur()">
                            </div>
                            <div class="form-group" style="margin-top:10px;">
                                <input type="password" class="form-control ng-pristine ng-valid" placeholder="请输入新密码"
                                       ng-model="Model.password">
                            </div>
                            <div class="form-group" style="margin-top:10px;">
                                <input type="password" class="form-control ng-pristine ng-valid" placeholder="请重新输入新密码"
                                       ng-model="Model.rePassword">
                            </div>
                            <div class="form-group" style="margin-top:10px;">
                                <div class="input-group">
                                    <input type="number" class="form-control ng-pristine ng-valid"
                                           placeholder="请输入短信随机码" style="border-right: none">
                                    <span class="input-group-btn">
									<button class="btn btn-primary forget-btn" type="button">
										<span>发送短信随机码</span>
                                    </button>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default close-forget" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn viigoo-btn-primary" style="width:100px;"
                                ng-click="Model.submit($event);" data-loading-text="正在提交">提交
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
        <!--注册-->
        <div class="modal fade ng-scope" id="divForgetPassword" tabindex="-1" role="dialog"
             aria-hidden="false">
            <div class="modal-dialog" role="document" style="top:200px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">×</span></button>
                        <h4 class="modal-title">重置密码</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form ng-pristine ng-valid">
                            <div class="form-group">
                                <input id="resetPhone" type="number" class="form-control ng-pristine ng-valid"
                                       placeholder="请输入手机号码">
                            </div>
                            <div class="form-group" style="margin-top:10px;">
                                <input id="newPwd" type="password" class="form-control ng-pristine ng-valid"
                                       placeholder="请输入新密码">
                            </div>
                            <div class="form-group" style="margin-top:10px;">
                                <input id="repeatNewPwd" type="password" class="form-control ng-pristine ng-valid"
                                       placeholder="请重新输入新密码">
                            </div>
                            <div class="form-group" style="margin-top:10px;">
                                <div class="input-group">
                                    <input id="msgCode" type="number" class="form-control ng-pristine ng-valid"
                                           placeholder="请输入短信随机码" style="border-right: none">
                                    <span class="input-group-btn">
									<button id="getMsgBtn" class="btn btn-primary forget-btn" type="button">
										<span>发送短信随机码</span>
                                    </button>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default close-forget" data-dismiss="modal">关闭</button>
                        <button id="resetPwdBtn" type="button" class="btn viigoo-btn-primary" style="width:100px;">提交
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
    </div>

</div>


<!-- Javascript -->
<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'js/utils.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/login/jquery.backstretch.min.js' %}"></script>
<script src="{% static 'js/login/retina-1.1.0.min.js' %}"></script>
<script src="{% static 'js/login/scripts.js' %}"></script>

<!--[if lt IE 10]>
            <script src="/static/js/login/placeholder.js"></script>
<![endif]-->

</body>

</html>