{% extends 'layout.html' %}
{% load static %}
{% block content %}

    <!-- Slider Start -->
    <section id="global-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h1>公司新闻</h1>
                        <p>Company News</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- contact form start -->
    <section id="contact-form">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail news-list">
                        <img src="{% static "img/banner/banner_03.jpeg" %}" alt="...">
                        <div class="caption">
                            <h4>公司举办金融峰会</h4>
                            <p>发布时间:2018-01-01</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail news-list">
                        <img src="{% static "img/banner/banner_01.jpeg" %}" alt="...">
                        <div class="caption">
                            <h4>金融科技与创新支付创新决策者年会</h4>
                            <p>发布时间:2018-01-01</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail news-list">
                        <img src="{% static "img/banner/banner_02.jpeg" %}" alt="...">
                        <div class="caption">
                            <h4>上海数据交易中心新产品发布</h4>
                            <p>发布时间:2018-01-01</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail news-list">
                        <img src="{% static "img/banner/banner_04.jpeg" %}" alt="...">
                        <div class="caption">
                            <h4>全业务流程风控提升培训</h4>
                            <p>发布时间:2018-01-01</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li class="disabled">
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">6</a></li>
                            <li><a href="#">7</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>

{% endblock %}